<div class="content">
    <div class="intro">
     <h1>We entangle with you</h1>
    <h3>Develope effective plans to move your customers' behaviour</h3>
    <button mat-button mat-flat-button color="gray">Get In Touch</button>

  </div>
  </div>
<section class="who-we-are-maincontainer">
    <div class="who-we-are">
        <h1>Who we are</h1>
        <p>"We're a software development and consultancy company that provides robust software solutions to empower businesses like you.
            We bring our industry knowledge and experence to help clients by leveraging evolving technology solutions into their business to stay ahead of the curve."</p>
    </div>
    <div class="p"> <img class="background"src="assets/image/home2.jpg"> </div>
   

</section>

<section class= "main-container">
    <div class="container">
         <div ><h1>What we do</h1></div>
         <div class="what-we-do">
            <p><i>We offer several services that will boost customers' engagement your product at remarkable speed.We deliver high quality products with our expertise and commitment.</i></p>
        
        
            <div class="services">
            
                <div class="item"><img class="I"src="assets/image/desktopimage.png" alt="desktop"><h4>Web Development</h4>
                        <p> Expertise in building highly scalable, secure and ui rich applications across several domains that work for every user regardless of their browser.</p>
                </div>
               
                <div class="item"><img class="I"src="assets/image/phoneicon.png" alt="phone"><h4>Mobile solutions</h4>
                         <p>We have extensive expertise in building high performance native and hybrid mobile app development.</p>
                </div>
                
                <div class="item"><img class="I"src="assets/image/devops.png" alt="devops"><h4>DevOPs</h4>
                        <p> We have extensive expertise in building high performance native and hybrid mobile app development.</p>
                </div>
                
                <div class="item"><img class="I"src="assets/image/machinelearning2.png" alt="machine learning" >   <h4>Machine Learning</h4>
                         <p>Solve real time problems that once contrained the growth. Introduce automation in your business.</p>
                </div>
            </div>
        </div>
    </div>
<div class="icons">
    <h1>Our Expertise</h1>
    <div class="img">
         <div >
        <img class ="grid"src="assets/magento.jpg" alt="Magento">
            <p>Magento</p>
        </div>
        <div>
        <img class ="grid"src="assets/scandipwa (1).png" alt="ScandiPwa">
            <p>ScandiPwa</p>
        </div>
        <div>
        <img class ="grid"src="assets/php.jpg" alt="Php">
            <p>php</p>
        </div>
        <div>
        <img class ="grid"src="assets/favicon.ico" alt="Angular">
            <p>Angular</p>
        </div>
        <div>
        <img class ="grid"src="assets/react.jpg" alt="React">
            <p>React</p>
        </div>
        <div>
        <img class ="grid"src="assets/node js.jpg" alt="Nodejs">
            <p>Nodejs</p>
        </div>
        <div>
        <img class ="grid"src="assets/mongodb.png" alt="MongoDb">
            <p>MongoDb</p>
        </div>
        <div>
        <img class ="grid"src="assets/sql-server.png" alt="SQL">
            <p>SQL</p>
        </div>
        <div>
        <img class ="grid"src="assets/docker.jpg" alt="Docker">
            <p>Docker</p>
        </div>
        <div>
        <img class ="grid"src="assets/kubernetes.png" alt="Kubernetes">
            <p>Kubernetes</p>
        </div>
    </div>        
</div>
</section>


<section >   
    <div class="contactimg"></div>;
    <div class="B">
    <mat-card class="f-card">
        <h3>We want to Hear from You</h3>
        <form class="form-container">
            
            <mat-form-field>
              <input matInput placeholder=" FirstName" [(ngModel)]="formData.firstName" name="FirstName" required firstName>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput placeholder="LastName" [(ngModel)]="formData.LastName" name="LastName" required LastNam>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput placeholder="Email" [(ngModel)]="formData.email" name="email" required email>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput placeholder="Contact No" [(ngModel)]="formData.Contactno" name="Contact No" required Contactno>
            </mat-form-field>
            <br>
            <mat-form-field>
              <textarea matInput placeholder="Message" [(ngModel)]="formData.message" name="Message" required></textarea> 
            </mat-form-field>
            <br>
            <button mat-raised-button color="gray" type="submit">Send</button>
        
    </form>
          
    </mat-card>

<mat-card class="card">

    <div class="contact-info">
        <h4>What's next?</h4>
          <ul class="info">
            <li class="text"> "our business executive will reach you out within a few days."</li>
            <li class="text"> "Meanwhile,we will analyase your requirements."</li>
            <li class="text"> "We'll present the estimates ans an approximate timeline for the project." </li>
          </ul>
   </div>
</mat-card>
</div>

</section>

<footer class="footer">
<div class="f.container">
    <div class="row">
        <div class="r">
        <div class="heading"> We Entangle  With You.</div>
        <p>Develope your business with our software solutions.</p>
    <div class=" social-links">
        <a href="_blank" href="https://twitter.com/espl_software" class="links">
            <img class="icon" src="assets/newtwitter.jpg">
        </a>
        <a href="_blank" href="https://linkedin.com/company/entangle-software" class="links">
            <img class="icon" src="assets/newlink4.jpg">
        </a>
        <a href="_blank" href="https://www.instagram.com/entanglesoftware" class="links">
            <img class="icon" src="assets/image/newinsta.jpg">
        </a>
        <a href="_blank" href="https://github.com/entanglesoftware-angular" class="links">
            <img class="icon" src="assets/github4.jpg">
        </a>
       
    </div>
    <div class="Location">
        <div>Location</div>
        <p>Khandak Par,Bihar Sharif (Nalanda),</p>
        <p>PIN 803101</p>
        <p>+91-9667312464</p>
        <p>info@entanglesoftware.com</p>
    </div>
</div>
        <div class="footer-col">
            <h4>Services</h4>
            <ul>
                <li><a href="#">Frontend Development</a></li>
                <li><a href="#">Backend Development</a></li>
                <li><a href="#">Mobile Apps Development</a></li>
                <li><a href="#">DevOps</a></li>
                <li><a href="#">QA Testing</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Company</h4>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Team</a></li>
    
            </ul>
        </div>
        <div class="footer-col">
            <h4>Contact</h4>
            <ul>
                
                <li><a href="#">+91-9667312464</a></li>
                <li><a href="#">info@entanglesoftware.com</a></li>
    
            </ul>
        </div>
    </div>
</div>

</footer>




