<div class="banner">
<mat-toolbar>
  <mat-toolbar-row class="header-background" src="/assets/image/bg.jpg">
    <span><img class="logo" src="assets/image/entanglelogo.png" /></span>
    <span class="example-spacer"></span>
    <div class="list">
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/about">About</a>
      <a mat-list-item routerLink="/services">Services</a>
      <a mat-list-item routerLink="/contact">Contact</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
 </div>